.outer{
    background-color: lightgrey;
}

.flex{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px 100px;
    padding: 20px 0px;
}

.cup{
    flex: 25%;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}