.list{
    padding: 5px;
    margin-left: 400px;
    margin-right: 400px;
    padding-bottom: 5px;
}
.b{ 
    font-weight: bold;
    font-size: 14pt;
}
.text2{
    font-size: 14pt;
}

.outer{
    text-align: center;
}

.text{
    text-align: center;
    padding: 10px 0px 30px 0px;
    font-size: 16pt;
}