.general{
    background-color: white;
    box-shadow: 0 2px 4px 0 rgb(142 154 161 / 20%);
    margin: 10px;
    border: 0px;
    border-radius: 2px;
    padding: 20px 50px;
    text-align: center;
    
}

.title{
    font-size: 18px;
}

.down{
    margin-top: 10px;
}
